/* En tête */
*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Futura, helvetica, impact , Trebuchet MS, verdana;
}
nav
{
    background-color: #0F2243;
    height: 45px;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    padding: 0 50px;
}
#logo 
{
    margin-left: 95px;
    display: flex;
    padding: 0 70px;
    align-items: center;
}
#logo img
{
    width: 55px;
    height: 35px;
    margin-right: 20px;
}
 
li a
{
 text-decoration: none;
 color:#EEEEEE ;
}

li a:hover
{
    color:white ;
    border-bottom: #EEEEEE 1px solid;
    font-weight: bold;
}

li a:active
{
    color:#D72385;
}
/* Fin de l'en-tête et début du corps */
.part1
{
    text-align: center;
}

.part1 p
{
 padding-top: 9px;
  font-size: 13px;
}

.part1 h1
{
  padding-top: 50px;
  font-size: 28px;
}

.part1 div
{
    border-radius: 15px;
    background-color: #D72385;
    height: 35px;
    width: 145px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
}
.part1 #paragraphe1
{
    padding-top: 9px;
    font-size: 17px;
}

.part1 a 
{
    text-decoration: none;
    color: #EEEEEE;
}

/* Fin de la 1ère partie et début de la 2e partie */
.part2
{
    margin-top: 45px;
    background-color: #D8D8D8;
    height: 280px;
    display: flex;
}

.article p
{
    font-size: 15px;
    padding-top: 20px;
    margin-right: 35px;
}

.article h2
{
    font-size: 23px;
    padding-top: 10px;
}
.article
{
    margin: 20px 170px;
}

.section2 img
{
    width: 370px;
    height: 205px;
    padding-top: 30px;
    padding-right: 170px;
}

.section3 .membres1
{
    margin-left: 155px;
}

.section3 h2
{
  padding-top:  20px;
  padding-bottom: 45px;
  font-size: 23px;
  margin-left: 270px;
}

.membres1
{
    display: flex;
}

.membres1 img
{
    border-radius: 50%;
    background-color: #D8D8D8;
    height: 20px ;
    margin: 0 75px;
    padding: 35px;
    width: 1px;
}

.section4 .membre
{
     display: flex;
     margin: 50px 155px;
}
.membre img
{
    border-radius: 50%;
    background-color: #D8D8D8;
    height: 20px ;
    margin: 0 75px;
    padding: 35px;
    width: 1px;
}

footer
{
    background-color: #0F2243;
    height: 210px;
    margin-top: 80px;
}

footer p
{
    color: #EEEEEE;
    font-size: 15px;
    padding-left: 240px;
    padding-top: 90px;
}
