
/* Début de l'en-tête de toutes les pages */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
}

body
{
     font-family: 'Montserrat', sans-serif;
     color: black;
}

/* Menu du site */
nav
{
    background-color: #0F2243;
    height: 45px;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin-right: 30px;
    padding-right: 50px;
}
/*  */

/* Logo du site */
#logo 
{
    margin-left: 95px;
    display: flex;
    padding: 0 70px;
    align-items: center;
}

#logo img
{
    width: 75px;
    height: 35px;
    margin-right: 10px;
}
/*  */
li a
{
 text-decoration: none;
 color:#EEEEEE ;
 font-weight: 500;
 font-size: 15px;
}

li a:hover
{
    color:white ;
    border-bottom: #EEEEEE 1px solid;
    font-weight: 900;
    font-size: 15px;
}

li a:active
{
    color:#D72385;
}

/* Fin de l'en-tête du site */
/* 1ère section de main de la page index*/

.main_index
{
    text-align: center;
}

.main_index p
{
 padding-top: 9px;
 font-size: 17px;
}

.main_index h1
{
  padding-top: 50px;
  font-size: 28px;
}

.main_index div
{
    border-radius: 15px;
    background-color: #D72385;
    height: 35px;
    width: 145px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
}
.main_index .lien_contact_index
{
    padding-top: 9px;
    font-size: 14px;
}

.main_index a 
{
    text-decoration: none;
    color: #EEEEEE;   
}

/* Fin de la 1ère section de la page index*/
/* Ici débute la 2e section du corps de la page index  */

.contenu_index
{
    display: flex;
    background-color: #EEEEEE;
    margin-top: 45px;
    height: 290px;
}

.part1_contenu_index img
{
    width: 420px;
    height: 220px;
    padding-left: 130px;
    padding-top: 30px;
}

.part2_contenu_index p
{
    font-size: 15px;
    padding-top: 20px;
}

.part2_contenu_index h2
{
    font-size: 23px;
    padding-top: 10px;
}
.part2_contenu_index
{
    margin: 20px 170px;
}

 /* Fin de la 2e section de l'index  */
 /* début de la 3e section de la index */

.container_index
{
    margin-top: 30px;
    margin-left: 280px;
}

.container_index h2
{ 
    padding-bottom: 25px;
}


.container_index p
{
    padding-bottom: 25px;
    padding-right: 190px;
}

.container_index ul
{
    list-style:none ;
    padding-top: 15px;
}

/* Fin de la 3e section de l'index */
/*footer de la page index */

.footer_index p
{
 padding-left: 285px;
 padding-top: 85px;
}

.footer_index
{
    background-color: #0F2243;
    height: 190px;
    margin-top: 50px;
    color: #EEEEEE;
    font-size: 15px;
}
/*  */
/* Fin de la page index */


/* Style de la page communauté */

/* Ceci renferme le 1er titre, le lien vers la page contact et le 1er paragraphe ainsi la 1ère section de la page */
.main_communaute
{
    text-align: center;
}

.main_communaute p
{
 padding-top: 9px;
 font-size: 17px;
}

.main_communaute h1
{
  padding-top: 50px;
  font-size: 28px;
}

.main_communaute div
{
    border-radius: 15px;
    background-color: #D72385;
    height: 30px;
    width: 145px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
}
.main_communaute .lien_contact_communaute
{
    padding-bottom: 7px;
    font-size: 12px;
}

.main_communaute a 
{
    text-decoration: none;
    color: #EEEEEE;  
}
/*  */

/*  */

.contenu_communaute
/* ceci renferme l'image, le 2e paragraphe et le 2e titre de la 2e section de la page communauté */
{
    background-color: #EEEEEE;
    margin-top: 45px;
    height: 290px;
    padding-top: 15px;
    display: flex;
}

.part1_contenu_communaute p
/* 2e paragraphe de la page communauté */
{
    margin-top: 15px;
    padding-right: 95px;
}

.part1_contenu_communaute h2
/* 2e titre de la page communauté */
{
    font-size: 23px;
    padding-top: 15px;
}
.part1_contenu_communaute
{
   padding-left: 170px;
   margin-top: 15px;
}

.python
{
    width: 370px;
    height: 230px;
    margin-right: 30px;
    padding: 15px 85px;
}
/*  */

/* Début de la 3e section de la page communauté */

.colonne1_communaute
{
    margin-left: 155px;
}

.colonne1_communaute h2
/* Titre */
{
  padding-top:  30px;
  padding-bottom: 25px;
  font-size: 23px;
  margin-left: 95px;
}

.colonne1_communaute .membres
{
    display: flex;
    margin: 5px 0;
}

.membres img
{
    border-radius: 50%;
    background-color: #D8D8D8;
    height: 20px ;
    margin: 0 75px;
    padding: 35px;
    width: 1px;
}

.membres .name
{
    padding-top: 10px;
    padding-left: 100px;
    font-weight: bold;
    font-size: 20px;
}
/*  */

/* Début de la 4e section de page communauté */
.colonne2_communaute
{ 
   margin: 50px 160px; 
} 
.colonne2_communaute .membres
/* Ceci renferme les images des membres et leurs noms de la 2è colonne */
{
     display: flex;
     padding-bottom: 40px;
}

/*footer de la page communauté*/
.footer_communaute p
{
    padding-left: 260px;
    padding-top: 75px;
}

.footer_communaute
{
    background-color: #0F2243;
    height: 190px;
    margin-top: 50px;
    color: #EEEEEE;
    font-size: 15px;
}
/* Fin du footer de la page */
/*Fin de la page communauté  */

/*  */

/*Début de la page cours  */
/* Unique section de la page cours */

.main_cours .boite_cours
/* Colonne 2 */
{
    margin-left: 180px;
    margin-top: 10px;
    display: flex;
}

.main_cours .colonne_cours
/* Colonne 1 */
{
    margin-left: 180px;
    margin-top: 10px;
    display: flex;
}

.main_cours h1
{
    margin-left: 180px;
    margin-top: 30px;
}

.part_cours
{
    margin-right: 170px;
    margin-top: 50px;
}

.part_cours img
{
    border:#D8D8D8 2px solid ; 
}

.text_cours h3 
{
    padding-top: 10px;
    font-size: 18px;
}

.text_cours p
{
    padding-top: 5px;
} 

/* Fin de la section de main de la page cours  */
/*  */
 
/* Début de footer de la page cours et contact */
.footer_same 
{
 background-color: #EEEEEE;
 height: 350px;
 margin-top: 100px;
}

.footer_same h2
{
    margin-left: 180px;
    padding-top: 35px;
}

.section_footer
{
display: flex;
}

.section_footer p
{
    margin-left: 180px;
    padding-top: 15px;
    margin-bottom: 30px;
}

.section_footer button
{
 margin-top: 15px;
 border-radius: 15px;
 background-color: #D72385;
 height: 40px;
 width: 295px;
 color: #ffffff;
 border: 0;
 margin-right: 180px;
 font-size: 15px;
}

.section_footer input
{
border-radius: 15px;
background-color: #D8D8D8;
height: 55px;
width: 275px;
border: 0;
font-size: 17px;
padding-left: 20px;
}

.same
{
background-color: #0F2243;
height: 190px;
color: #EEEEEE;
font-size: 15px; 
}

.same p
{
    padding-left: 220px;
    padding-top: 75px; 
}

/* Fin de footer de la page contact et cours */
/*  */

/* Début de la page contact */
form
{
    margin-left: 170px;
    margin-top: 25px; 
}

.section_contact .menu_contact
{
    margin-right: 190px;
    padding-left: 170px; 
}

.container_contact input
{
    border-radius: 10px; 
    font-size: 18px; 
    height: 45px;
    width: 275px;
    padding-left: 25px;
    background-color: #D8D8D8;
    border: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.container_contact select
{
    border-radius: 10px; 
    font-size: 15px; 
    height: 45px;
    width: 298px;
    padding-left: 25px;
    background-color: #D8D8D8;
    border: 0;
    margin-top: 10px;
}

.menu_contact
{
  margin-top: 15px;
}

.menu_contact p
{
    padding-top: 15px ;
    font-size: 20px;
    padding-bottom: 20px;
}

.container_contact textarea
{
border-radius: 10px;  
height: 45px;
width: 275px;
margin: 10px 0;
background-color: #D8D8D8;
padding-left: 25px;         
}

.container_contact label
{
    padding-top: 15px;
    font-size: 20px;
}


.msg button
{
    margin-top: 25px;
    border-radius: 15px 15px;
    background-color: #D72385;
    height: 35px;
    width: 280px;
    box-shadow: 9px 9px 9px rgba(247, 244, 244, 0.2);
    color:#ffffff;
    border: 0;
    font-size: 15px;
}

.formulaire_contact
{
    display: flex;
    justify-content: space-between;
    padding-right: 560px;
}
/* Fin du footer */
/* Fin de la page */



